

////////////////////// FOOTER ////////////////////////

.footer-background {
  background-color: $--text-color-dark;
}
.footer-container {    
    color: $--text-color-light;
    font-size: 1.5rem;
    padding-bottom: 55px;
    padding-top: 55px;
    text-align: center;
  @media (min-width: 750px) {
    align-items: center;
    font-size: 1.6rem;
   .column1{
     text-align: start
    }
   .column2{
     justify-content: flex-end;
     text-align: end;
    }
  }


  ////////////////////// LOGO FOOTER ////////////////////////

  .logo-footer {
    margin-bottom: 41px;                 
    width: 142px;
  }  
  
  ////////////////////// NAV FOOTER ////////////////////////

  li {
    margin-bottom: 28px;
    @media (min-width: 750px) {
      margin-right: 15px;
     }
    @media (min-width: 750px) {
      margin-bottom: 20px;
    }
  }    
  li::after {
    background-color: transparent;
    content: '';
    display: block;
    height: 2px;
    margin: 3px auto 0px;        
    width: 20px;      
  }
  li:hover::after {        
    background-color: $--text-color-light;       
  }  

  ////////////////////// SOCIAL ICONS ////////////////////////

  .social-icon-contain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    margin: 0 auto;
    width: 152px;
    @media (min-width: 750px) {
      margin-right: 0;      
    }    
  .social-icon{
    color: $--text-color-light;
    font-size: 2.3rem;
  }  
  .social-icon::after{
    background-color: transparent;
    content: '';
    display: block;
    height: 2px;
    margin-top: 1rem;     
    margin: 0 auto;   
    width: 1.5rem;      
  }
  .social-icon:hover::after{        
    background-color: $--text-color-light;       
  }
}

////////////////////// ATRIBUTION ////////////////////////

  .attribution {
     color: $--color-darkGray;
     margin-top: 40px;
       a {
       color: $--color-darkGray;
       font-weight: bold;
     }
     @media (min-width: 750px) {
       margin-top: 20px;
     }
   }   
  ul {
    @media (min-width: 750px) {
    display: flex;      
    }
    }
}