//COLORS

$--text-color-light: hsl(0, 0%, 100%);
$--text-color-dark: hsl(0, 0%, 0%);
$--color-gray: hsl(0, 0%, 55%);
$--color-darkGray:hsl(0, 0%, 41%);


//FONTS
$primary-font: "Josefin Sans", sans-serif;
$secundary-font: "Alata", sans-serif;

